{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
      <title>My Blog</title>


</head>

<body>

      <div class="container">

            <h1>Welcome to My Blog Project</h1>

            <p>Read blogs or share your own ideas with the world.</p>

            <div class="buttons">

                  <a href="#" class="btn view-btn">
                        View Blogs
                  </a>

                  <a href="#" class="btn post-btn">
                        Post Blog
                  </a>

            </div>

      </div>

</body>

</html>